<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203251492751-c10ttd39o6mdls509l2d0qhqvo628csh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203251492751-c10ttd39o6mdls509l2d0qhqvo628csh</string>
	<key>API_KEY</key>
	<string>AIzaSyAqmoRl9pMiFfbXaD_1FEGM7qxG72n09ik</string>
	<key>GCM_SENDER_ID</key>
	<string>203251492751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waiterbar</string>
	<key>PROJECT_ID</key>
	<string>waiterbar-3208a</string>
	<key>STORAGE_BUCKET</key>
	<string>waiterbar-3208a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203251492751:ios:bccbdab7fdf269a3a04dfa</string>
</dict>
</plist>